{% extends "base.html" %}
{% block content %}
<div class="container-services">
	<div class="row" id="bedroom">
		<div class="col-sm-3">
		<h3>Studio</h3>
		</div>
		<div class="col-sm-3">
		<h3>1 Bedroom</h3>
		</div>
		<div class="col-sm-3">
		<h3>2 Bedrooms</h3>
		</div>
		<div class="col-sm-3">
		<h3>3 Bedrooms</h3>
		</div>
	<div class="row" id="price">
		<div class="col-sm-3">
		<h4>$109</h4>
		</div>
		<div class="col-sm-3">
		<h4>$119</h4>
		</div>
		<div class="col-sm-3">
		<h4>$129</h4>
		</div>
		<div class="col-sm-3">
		<h4>$179</h4>
		</div>
	<div class="row" id="time">
		<div class="col-sm-3">
		<h4>Est. Time 2 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>Est. Time 2.5 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>Est. Time 3 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>Est. Time 3.5 Hours</h4>
		</div>
	<div class="row" id="cta">
		<div class="col-sm-3">
		<h4 href="#">BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>			
 	</div>
</div>
</div class="container-services">
	<div class="row" id="bedroom">
		<div class="col-sm-3">
		<h3>4 Bedrooms</h3>
		</div>
		<div class="col-sm-3">
		<h3>5 Bedrooms</h3>
		</div>
		<div class="col-sm-3">
		<h3>6 Bedrooms</h3>
		</div>
		<div class="col-sm-3">
		<h3>Custom Service</h3>
		</div>
	<div class="row" id="price">
		<div class="col-sm-3">
		<h4>$289</h4>
		</div>
		<div class="col-sm-3">
		<h4>$339</h4>
		</div>
		<div class="col-sm-3">
		<h4>$389</h4>
		</div>
		<div class="col-sm-3">
		<h4>$49 per hour</h4>
		</div>
</div>
	<div class="row" id="time">
		<div class="col-sm-3">
		<h4>Est. Time 4 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>Est. Time 5 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>Est. Time 6 Hours</h4>
		</div>
		<div class="col-sm-3">
		<h4>2 Hour Minimum</h4>
		</div>
	<div class="row" id="cta">
		<div class="col-sm-3">
		<h4 href="#">BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>
		<div class="col-sm-3">
		<h4>BOOK NOW</h4>
		</div>			
 	</div>
<br><br>
<p>Please note the above rates are estimates of how long it will take to clean your home. For extra large or deep cleaning jobs, we recommend the hourly service for a more accurate estimate.</p>
</div>
<div container="checklist">
<h1>How are you this good?</h1>
<p>Each professional we work with is initially quizzed on a checklist for each room</p>
</div>


{% endblock %}